<%= react_component('SinglePoint',
										 pointName: @point.name,
										 data: @data_audiences) %>

<!-- <h2><%= @point.name %></h2>
<%= link_to 'Edit Point', edit_point_path %>
<br>
<%= link_to 'View All Points', points_path %>
<div class="row card-panel hoverable">
	<div class="col s4">
	<%= raw @qrcode.as_svg(offset: 0, color: '000',
                    shape_rendering: 'crispEdges',
                    module_size: 10) %>
	</div>
	<div class="col s8">
		<h5>Attached Data | <%= link_to 'Add Data to Point', new_points_data_path(:point_id => @point.id, :point_name => @point.name) %></h5>
		<% @point.data.each do |datum| %>
			<div class="card-panel">
				<p>Data Title: <%= datum.title %></p>
				<p>Description: <%= datum.description %></p>
				<p>Rank: <%= @ranks[datum.id] %></p>
				<p>Available to:
				<% @data_audiences.each do |datum_audience| %>
					<% datum_audience.audiences.each do |audience| %>
						<%= audience.name %>  |
					<% end %>
				<% end %>
				</p>
				<%= react_component('DataViewer',{
					data_id:datum.id,
					url:datum.url
				})%>
				<%= link_to 'Update rank',edit_points_datum_path(:point_id => @point.id,:datum_id => datum.id), :controller => :points_data %>
				<%= link_to 'Delete datum from this point',delete_points_data_path(:datum_id => datum.id, :point_id => @point.id),method: :delete %>
			</div>
		<% end %>
	</div>
</div>

 -->
