<p>
<%= @point.name %>
<br>
<%= raw @qrcode.as_svg %>
</p>
 <%= link_to 'Add Data to Point', new_points_data_path(:point_id => @point.id, :point_name => @point.name) %>
	<% @point_datums.each do |datum_point| %>
		<% if datum_point.point_id == @point.id %>
			<p>Data Point</p>
			<p>Data ID: <%= @datums.find(datum_point.datum_id).id %></p>
			<p><%= @datums.find(datum_point.datum_id).title %></p>
			<%= link_to 'Delete datum from this point',delete_points_data_path(:datum_id => @datums.find(datum_point.datum_id).id, :point_id => datum_point.point_id),method: :delete %>
		<% end %>
	<% end %>
<br>
<%= link_to 'Edit Point', edit_point_path %>
<br>
<%= link_to 'View All Points', points_path %>

