<p>Dear Receipient, </p>

<p>You have been invited to take part in the <b><%=@tour_session.tour.name%>.</b></p>

<p>Please scan the QR code below or enter the passphrase <b>SN<%=@tour_session.passphrase%></b> into the mobile app</p>

<p>The contents of the tour will be available for <b><%=@tour_session.duration%></b> days
  starting on <b><%=@tour_session.start_date.to_formatted_s(:long_ordinal)%></b>.</p>

<img src=<%=
("'"+"https://api.qrserver.com/v1/create-qr-code/?size=250x250&data=SN#{@tour_session.passphrase}"+"'").html_safe%>/></img>


<p>Kind Regards,</p>
<p>The HiTour Team</p>

<a href='#'>Download Android App</a>
<br>
<a href='#'>Download IOS App</a>
