<h2>Tour Show</h2>
<p> <b>Tour Name: </b><%= @tour.name %>
| <b> Audience Name: </b> <%= @tour.audience.name %></p>
<p><b> Different points Associated :</b></p>
<% @tour_points.each do |tourpoint| %>
<%=Point.find(tourpoint.point_id).name%>
/ <%= link_to 'Remove Point', delete_tours_points_path(:tour_id => @tour.id, :point_id => tourpoint.point_id), method: :delete%>
</br>
<% end %>
<br>
 <%= link_to 'Add Points to Tour', new_tours_points_path(:tour_id => @tour.id, :tour_name => @tour.name) %>
<br>
<%= link_to 'View all tours',tours_path %>
