<h2>Tour Show</h2>
<p> <b>Tour Name: </b><%= @tour.name %>
| <b> Audience Name: </b> <%= @tour.audience.name %> (<%= link_to 'edit', './' %>)</p>
<p><b> Tour Points :</b></p>
<% @tour.points.each do |point| %>
<div class="card-panel">
	Point Name<%= point.name %><br>
	<%= link_to 'More information about point', point %><br>
	<%= link_to 'Remove Point', delete_tours_points_path(:tour_id => @tour.id, :point_id => point.id), method: :delete%>	
</div>
<% end %>
<br>
 <%= link_to 'Add Points to Tour', new_tours_points_path(:tour_id => @tour.id, :tour_name => @tour.name) %>
<br>
<%= link_to 'View all tours',tours_path %>
