<h1>Data</h1>
<%= link_to 'Add Audience to Data', new_data_audience_path %>
<hr>
<p><b>Data ID: <%= @datum.id %></b></p>
<h2><%= @datum.title %></h2>
<p><%= @datum.description %></p>
<p><%= @datum.url %></p>
<% @datum.audiences.each do |audience| %>
	<p><%= audience.name %></p>
<% end %>
<hr>
