<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "hiTour" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= react_component('AjaxProgressBar') %>
    <%= react_component('Navbar',
    {
      loggedIn: current_user ? true : false,
      currentUser: @current_user,
      currentPage: content_for?(:title) ? yield(:title) : "hiTour",
      rootPath: root_path,
      toursPath: tours_path,
      pointsPath: points_path,
      dataPath: data_path,
      audiencesPath: audiences_path,
      usersPath: users_path,
      quizzesPath: quizzes_path,
      logoutPath: logout_path
    }) %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
