<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Project Run" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="col s12 m4 l3">
        <%= react_component('Sidebar',
            {
              username: current_user['email'],
              logoutPath: logout_path
            }) %>
      </div>

      <div class="col s12 m8 l9">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
